@import '../vars.less';

.gasp-home {
   margin-top: 10px;
  .recent-datasets {
    li {
      &:hover {
        cursor: pointer;
        background-color: #fcf8e3;
      }
    }
    .ds-modified {
      color: @dark-gray;
    }
  }
}
